
$logo: 'http://www.redbullmusicacademy.jp/img/fe/sprite_logo.png';


.main-navbar { 
  display: block; 
  position: fixed; 
  width: 150px; 
  height: 67px; 
  z-index: 100; 
  box-sizing: border-box;
  border-bottom: 1px solid white;
  z-index: 99999;
  top: 0;
  background-color: black; 
  text-align: center;
  font-family: clan, Tahoma, Arial, sans-serif;
  @media (max-device-width: 1024px){
    @media (orientation: portrait){
      background-color: black;
      width: 22.5%;
      border-right: 1px solid white;
    }
    @media (orientation: landscape){
      background-color: black;
      width: 16.5%;
      border-right: 1px solid white;
    }
  }
  @media (max-width: 767px){
  	@media (orientation: landscape){
  		width: 20%;
  		border-right: 1px solid white;
  	}
    @media (orientation: portrait){
      width: 30%;
      border-right: 1px solid white;
    }
  }
}

.main-navbar .logo { 
  display: block; 
  float: left; 
  height: 64px;
}


.main-navbar .logo .logo-text { 
  display: inline-block; 
  vertical-align: top; 
  height: 64px; 
  line-height: 64px;
  padding: 0 50px;
  font-size: 12px; 
  margin-top: 2.5px;
  color: white; 
  text-decoration: none; 
  text-transform: uppercase;
  @media (max-width: 767px){
    padding: 0 0;
    text-align: center;
    margin-left: 20px;
    
  }
}



header{
	position: fixed;
	top: 67px;
	left: 0;
	width: 150px;
	z-index: 99999;
	height: auto;
	background-color: black;
	text-align: center;
	overflow: hidden;
	.header-img{
		position: relative;
		top: 10px;
		margin: 10px auto;
		left: 0;
		width: 100px;
		height: 112.5px;
		background: url(../images/logo.png) no-repeat center center;
		background-size: contain;
	}

	@media (max-device-width: 1024px){
		@media (orientation: portrait){
			width: 77.5%;
			max-width: 77.5%;
			margin: 0;
			top: 0;
			left: 22.5%;
			height: 67px;
			border-bottom: 1px solid white;
			.header-img{
				margin: 0px 15px;
				width: 50px;
				height: 50px;
				margin-left:20px;
				background: url(../images/bulls-small.png) no-repeat center center;
				background-size: 100%;
				display: inline-block;
				float: left;
			}
		}
		@media (orientation: landscape){
			width: 83.5%;
			max-width: 83.5%;
			margin: 0;
			top: 0;
			left: 16.5%;
			height: 67px;
			border-bottom: 1px solid white;
			.header-img{
				margin: 0px 15px;
				width: 50px;
				height: 50px;
				margin-left:20px;
				background: url(../images/bulls-small.png) no-repeat center center;
				background-size: 100%;
				display: inline-block;
				float: left;
			}
		}
	}

	@media (max-width: 767px){
		width: 80%;
		max-width: 80%;
		margin: 0;
		top: 0;
		left: 20%;
		height: 67px;
		border-bottom: 1px solid white;
		.header-img{
			margin: 0px 15px;
			width: 50px;
			height: 50px;
			margin-left:20px;
			background: url(../images/bulls-small.png) no-repeat center center;
			background-size: 100%;
			display: inline-block;
			float: left;
		}
		@media (orientation: portrait){
			width: 70%;
			max-width: 70%;
			margin: 0;
			top: 0;
			left: 30%;
			height: 67px;
			border-bottom: 1px solid white;
			.header-img{
				margin: 0px 15px;
				width: 50px;
				height: 50px;
				margin-left:20px;
				background: url(../images/bulls-small.png) no-repeat center center;
				background-size: 100%;
				display: inline-block;
				float: left;
			}
		}
		@media (orientation: landscape){
			width: 80%;
			left: 20%;
		}
	}

	.x{
		font-size: 1em;
		margin-top: 20px;
		@media (max-device-width: 1024px){
			float: left;
			margin: 0;
			text-transform: lowercase;
			margin-top: 25px;
		}
		@media (max-width: 767px){
			float: left;
			margin: 0;
			text-transform: lowercase;
			margin-top: 25px;
		}
	}

	a.youtube-icon{
		font-size: 55px;
		color: white;
		text-decoration: none;
		@media (max-device-width: 1024px){
			float: left;
			font-size: 1.75em;
			margin: 0;
			margin-top: 20px;
			margin-left: 19px;
		}
		@media (max-width: 767px){
			float: left;
			font-size: 1.75em;
			margin: 0;
			margin-top: 20px;
			margin-left: 19px;
		}
	}
	

	.creator-space{
		display: block;
		width: 90%;
		font-size: 0.6em;
		-webkit-font-smoothing: antialiased;
		margin: 5px 5% 70px 5%;
		@media (max-device-width: 1024px){
			display: none;
			border-right: 1px solid white;
		}
		@media (max-width: 767px){
			display: none;
			border-right: 1px solid white;
		}
	}


	

	// social
	.button-group.logo-group{
		box-sizing: border-box;
		margin: 25px 0;
		width: 100%;
		margin-bottom: 30%;
		@media (max-device-width: 1024px){
			display: none;
		}
		@media (max-width: 767px){
			display: none;
		}
			
		.button{
			-webkit-font-smoothing: antialiased;
			background-color: white;
			border-radius: 0;
			color: black !important;
			margin: 0;
			margin-right: 5px;
			width: 30px;
			height: 30px;
			padding: 0;
			display: inline-block;
			line-height: 30px;
			@include smallboxy();
			@include vendorize(transition, all .1s linear);
			span{
				color: black;
			}
			&:active, &:hover{
				@include vendorize(transform, translate(5px,5px));
				@include vendorize(box-shadow, none);
			}
			a{
				text-decoration: none;
				color: black;
				line-height: 35px;
				padding: 0;
				vertical-align: middle;
				font-size: 20px;
			}
		}
	}
}