.video-wrapper{
	position: fixed;
	display: block;
	opacity: 1;
	left: 0;
	top: 0;
	padding-top: 0;
	height: 100%;
	width: 100%;

}

.video{
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	iframe,object,embed{
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	}
}




.prev-events{
	z-index: 99;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url(../images/overlay.png) repeat top left;
	background-size: cover;
	overflow-y: scroll;
	.prev-events-wrapper{
		height: 100%;
		width: 100%;
		margin-top: 15%;
		position: relative;
		@media (max-width: 1024px){
			width: 70%;
			margin-left: 15%;
		}
		@media (max-width: 767px){
			margin-top: 25%;
		}
	}
	h1{
		text-align: center;
		font-size: 2em;
		width: 80%;
		margin-left: 10%;
		text-transform: uppercase;
		color: white;
		margin-left: auto;
		margin-right: auto;
		line-height: 1;
		letter-spacing: 1px;
		margin-top: 10px;
		@media (max-width: 767px){
			font-size: 1em;
		}
		&.fa{
			text-align: center;
			font-size: 3em;
			margin-left: 30%;
			width: 40%;
		}
		&.intro{
			margin-top: 10%;
			@media (max-width: 767px){
				font-size: 1em;
				margin-top: 20%;
			}
		}
		&#prev{
			margin-top: 15%;
		}
		&.first{
			font-size: 4em;
			@media (max-width: 767px){
				font-size: 3em;
			}
			&:after{
				content: '';
				width: 80%;
				margin-left: 10%;
				text-align: center;
				height: 2px;
				background: white;
				position: relative;
				display: block;
				margin-top: 30px;
				@media (max-width: 767px){
					margin-top: 10px;
				}
			}
		}
	}
	.show-container{
		position: relative;
		width: 80%;
		margin-left: 10%;
		padding-bottom: 200px;
	}
	.show{
		position: relative;
		display: block;
		margin: 96px auto auto auto;
		text-align: left;
		vertical-align: top;
		width: 500px;
		height: 300px;
		overflow: hidden;
		background-color: transparent;
		background-repeat: no-repeat !important;
		background-size: 15%, cover !important;
		background-position: center center !important;
		opacity: 0.9;
		@include vendorize(box-shadow, 5px 5px 5px black);
		@media (max-width: 1024px){
			width: 400px;
			height: 240px;

		}
		@media (max-width: 767px){
			width: 250px;
			height: 150px;
		}
		&:first-child{
			margin-top: 10px;
		}
		&:hover, &:active{
			opacity: 1;
		}
		p{
			margin-left: 10px;
		}
	}

}


.video-exit{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	z-index: 9999999999;
	text-align: center;
	@media (max-width: 767px){
		top: 67px;
		right: 5px;
	}
	span{
		line-height: 50px;
		color: white;
		font-size: 2.5em;
		@include vendorize(transition, all .1s linear);
		&:hover{
			@include vendorize(transform, scale(1.5));
		}
		@media (max-width: 767px){
			font-size: 1.5em;
		}
	}
}
