<!--HEADER STUFF-->

<div id="header" class="main-navbar">
  <a href="http://www.redbullmusicacademy.jp/jp/home/" class="logo">
    <div class="logo-text">&larr;&nbsp; Back</div>
  </a>
</div>


<header>
  <a href="http://www.redbullmusicacademy.com">
    <div class="header-img"></div>
  </a>
  <h2 class="x">X</h2>
  
  <a href="http://www.youtube.com/yt/space/tokyo.html"
    target="_blank" 
    class="fa fa-youtube youtube-icon">
  </a>
  
  <span class="creator-space">Creator Space Tokyo</span>
  <div class="button-group logo-group">
    <div class="button">
      <a href="https://twitter.com/share?url=http://www.redbullmusicacademy.jp/features/live-stream/&amp;via=rbma_jp&amp;text=RBMA Tokyo ライブ配信 from the YouTube Space" target="blank"><span class="fa fa-twitter"></span>
      </a>
    </div>
    
    <div class="button">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.redbullmusicacademy.jp/features/live-stream/" target="blank"><span class="fa fa-facebook"></span>
      </a>
    </div>
  </div>
</header>







<!--DESKTOP WRAPPER-->
<section class="desktop">
  

  

  <!--VIDEO API-->
  <section  class="video-wrapper">
    <div size-video class="video" id="videowrap">
      <div id="player"></div>
    </div>
  </section>


  <!--VIDEO EXIT-->
  <div ng-if="video.playing && !video.ready" class="video-exit">
    <span ng-click="closeVideo()", class="fa fa-times"></span>
  </div>


  <!--VIDEO BACKGROUND-->
  <section ng-if="!video.playing" class="prev-events" du-scroll-container>
    <div class="prev-events-wrapper">
      <h1 class="intro">Next Live Stream:</h1>
      <h1 class="first">{{data.fields.performers}}</h1>
      <h1>{{data.fields.eventInfo}}</h1>
      <a href="#prev" du-smooth-scroll offset="30">
        <h1 class="fa fa-angle-down"></h1>
      </a>
      <h1 id="prev">Previous Shows</h1>
      <div class="show-container">
        <div class="show" ng-repeat="event in data.fields.previousStreams"
          ng-click="swapVideo(event.fields.youtubeId)" 
          style="background: url(images/play.svg), url(//img.youtube.com/vi/{{event.fields.youtubeId}}/hqdefault.jpg)">
          <p>{{event.fields.title}}</p>
        </div>
      </div><!--END SHOW CONTAINER-->
    </div><!--END EVENTS WRAPPER-->
  </section>
</section> <!--END DESKTOP-->








<!--MOBILE-->
<div class="mobile">
  <!--PREV EVENTS-->
  <section ng-if="!video.ready" class="mobile-prev-events">
    <div class="mobile-prev-events-wrapper">
      <h1 class="intro">Next Live Stream:</h1>
      <h1 class="mobile-first">{{data.fields.performers}}</h1>
      <h1 class="date">{{nextBroadcast}} JST</h1>
      <a href="#mobile-prev" du-smooth-scroll offset="75">
        <h1 class="fa fa-angle-down angle-mobile"></h1>
      </a>
      <h1 class="mobile-prev" id="mobile-prev">Previous Shows:</h1>
      <div class="mobile-show-container">
        <div class="mobile-show" ng-repeat="event in data.fields.previousStreams">
          <div lazy class="lazyYT mobile-video" videoid="{{event.fields.youtubeId}}" data-parameters="controls=0&modestrbranding=1" data-ratio="16:9"></div>
          <p>{{event.fields.title}}</p>
        </div>
      </div><!--END SHOW CONTAINER-->
    </div><!--END EVENTS WRAPPER-->
  </section><!--END-PREV-->





  <!--CURRENT STREAM ON-->
  <section ng-if="video.ready" class="mobile-prev-events">
    <div lazy class="lazyYT mobile-video-live" videoid="{{data.fields.youtubeStreamId}}" data-parameters="controls=0&modestrbranding=1" data-ratio="16:9"></div>
    <h1>{{data.fields.performers}}</h1>
    <p>Live from YouTube Creator Studio Tokyo</p>
  </section>
  <!--END CURRENT-->





  <!--MOBILE SHARE-->
  <div class="button-group logo-group">
    <div class="button">
      <a href="https://twitter.com/share?url=http://www.redbullmusicacademy.jp/features/live-stream/&amp;via=rbma_jp&amp;text=RBMA Tokyo ライブ配信 from the YouTube Space" target="blank">
        <span class="fa fa-twitter"></span>
      </a>
    </div>
    
    <div class="button">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.redbullmusicacademy.jp/features/live-stream/" target="blank">
        <span class="fa fa-facebook"></span>
      </a>
    </div>
  </div><!--END BUTTONS-->
</div><!--END MOBILE-->






<!--TWITTER FEED-->
<div ng-if="ready">
  <div class="tweet-container"><a href="https://twitter.com/search?q=%23rbmatokyo&amp;src=typd" target="_blank"><span class="tweets">{{tweets}}</span></a></div>
</div>