<div id="header" class="main-navbar">
  <a href="http://www.redbullmusicacademy.jp/jp/home/" class="logo">
    <div class="logo-text">&larr;&nbsp; Back</div>
  </a>
</div>


<header>
  
  <div ng-click="reload()" class="header-img"></div>

  
  <h2 class="x">X</h2>
  <a href="http://www.youtube.com/yt/space/tokyo.html" target="_blank" class="fa fa-youtube youtube-icon"></a>
  
  <span class="creator-space">Creator Space Tokyo</span>
  

  <div class="button-group logo-group">
    <div class="button">
      <a href="https://twitter.com/share?url=http://www.redbullmusicacademy.jp/features/live-stream&amp;via=rbma_jp&amp;text=RBMA Tokyo ライブ配信 from the YouTube Space" target="blank"><span class="fa fa-twitter"></span>
      </a>
    </div>
    
    <div class="button">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.redbullmusicacademy.jp" target="blank"><span class="fa fa-facebook"></span>
      </a>
    </div>
  </div>
</header>




  <!--VIDEO API-->
  <div class="video-wrapper">
    <div size-video class="video">
      <div id="player"></div>
    </div>
  </div>

  <!--MOBILE VIDEO-->
  <div class="video">
    <iframe width="560" height="315" src="{{mobileStream}}" frameborder="0" allowfullscreen></iframe>
  </div>

  <!--VIDEO EXIT-->
  <div ng-if="video.playing && !video.ready" class="video-exit">
    <span ng-click="closeVideo()", class="fa fa-times"></span>
  </div>


  <!--VIDEO BACKGROUND-->
  <div ng-if="!video.playing" class="prev-events" du-scroll-container>
    <div class="prev-events-wrapper">
      <h1 class="intro" ng-cloak>Next Live Stream:</h1>
      <h1 class="first" ng-cloak>{{data.fields.performers}}</h1>
      <h1 ng-cloak>{{nextBroadcast}} JST</h1>
      <a href="#prev" du-smooth-scroll offset="30">
        <h1 class="fa fa-angle-down"></h1>
      </a>
      <h1 id="prev">Previous Shows</h1>
      <div class="show-container">
        <div class="show" ng-repeat="event in data.fields.previousStreams"
          ng-click="swapVideo(event.fields.youtubeId)" 
          style="background: url(../images/play.svg), url({{event.fields.artistImage.fields.file.url}}?w=600)">
          <p>{{event.fields.title}}</p>
        </div>
      </div>
    </div>
  </div>






<!--TWITTER FEED-->
<div ng-if="ready">
  <div class="tweet-container"><a href="https://twitter.com/search?q=%23rbmatokyo&amp;src=typd" target="_blank"><span class="tweets">{{tweets}}</span></a></div>
</div>